@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
article,
div {
    display: block;
}

h5 {
    font-family: Inter;
}

.top_nav {
    padding: 10px 3px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);
}

#logo {
    background-image: url('../images/logo.png');
    background-size: cover;
    height: 42px;
    width: 100px;
    padding: 0;
}

.profile-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    background-image: url('../images/profile.jpg');
    background-size: cover;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-top: 8px;
}

.profile-rating {
    font-size: 0.75rem;
    color: #f39c12;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 40px;
}

.nav-item span {
    padding-left: 30px;
}

.list_title {
    margin-bottom: 10px;
}

.beach_list {
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.10);
}

.beach-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F3F7;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.beach-list-item .wave_img{
    height: 30px;
    margin-right: 10px;
}

.beach-list-item p {
    font-size: 14px;
    margin: 0;
}

.beach-list-item span {
    font-size: 10px;
}

.beach-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beach-details {
    display: flex;
    flex-direction: column;
}

.beach-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.beach-actions img{
    height: 20px;
}

.session-link {
    background-image: url(../images/surfer-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.for-you-link {
    background-image: url(../images/foryou-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.location-link {
    background-image: url(../images/location-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.graph-link {
    background-image: url(../images/graph-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.video-link {
    background-image: url(../images/video-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.weather-link {
    background-image: url(../images/cloud-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.offcanvas-header h5 {
    margin-left: 15px;
}

/* main */

main {
    background-color: #F2F3F7;
}

#surfboard-icon {
    margin-left: 10px;
}

#wrapper {
    margin: 0 15px;
    padding: 80px 0;
    min-height: 100vh;
}

.welcom-section {
    display: flex;
    margin-bottom: 22px;
}

.welcom-section h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-weight: 700;
    margin-top: 13px;
}

.data-section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 28px;
    margin-right: 28px;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search_input {
    height: 45px;
    margin: 10px 0;
}

.list_title {
    font-size: 20px;
    font-weight: 700;
}

.title_btn {
    background: none;
    border: none;
    color: #3C8CE2;
    font-size: 10px;
    font-weight: 700;
    padding: 0;
}

.title_btn:hover {
    color: rgba(60, 140, 226, 0.5);
}

.titles_container {
    display: flex;
    justify-content: space-between;
}

.waves {
    position: absolute;
    top: 22%;
    width: 24px;
    height: 24px;
    background-image: url(../images/waves.svg);
}

.surfer {
    position: absolute;
    top: 22%;
    width: 24px;
    height: 24px;
    background-image: url(../images/surfer.svg);
}

.sup {
    position: absolute;
    top: 22%;
    width: 24px;
    height: 24px;
    background-image: url(../images/sup.svg);
}

.top-section {
    margin-bottom: 20px;
}

.top-section span {
    margin-top: 10px;
    width: 47px;
    height: 24px;
    background-color: #FFF;
    border-radius: 8px;
    text-align: center;
}

.start-surfing-section {
    justify-content: center;
    margin: auto;
    max-width: 200px;
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 20px;
}

#start-surfing-icon {
    width: auto;
    height: auto;
}

.card img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.card {
    align-items: center;
    border-color: white;
    cursor: pointer;
    --bs-card-spacer-y: 0.2rem;
}

.card h5 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.session-data-section {
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.session-data-section h4 {
    font-size: 1rem;
    font-weight: 700;
}

.session-data-section h5 {
    font-size: 1rem;
    font-weight: 400;
}

.session-data-section .session-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-content img {
    margin-right: 10px;
}

.session-data-section .session-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.session-data-section h6 {
    margin-left: 18px;
    font-size: 11px;
    font-weight: 400;
}

.session-data-section  li {
    margin-bottom: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.waves-graph {
    background-color: rgba(0, 124, 130, 0.50);
}

.speed-graph {
    background-color: rgba(36, 193, 187, 0.50);
}

.pareformane-graph {
    background-color: rgba(36, 104, 193, 0.50);
}

.rowing-graph {
    background-color: rgba(109, 77, 201, 0.50);
}

.g-4, .gy-4 {
    --bs-gutter-y: 1rem;
}

.g-4, .gx-4 {
    --bs-gutter-x: 1rem;
}

.beach-header {
    padding: 15px;
    margin-top: 90px;
    color: #000;
    background-color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

#plus-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#edit-icon {
    position: absolute;
    left: 165px;
    top: 23px;
    cursor: pointer;
}

#remove-icon {
    position: absolute;
    left: 190px;
    top: 23px;
    cursor: pointer;
}

.menu-container {
    background-color: #fff;
    padding-bottom: 12px;
}

.menu-text {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-item {
    color: #000;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.menu-item:hover, .menu-item:focus {
    border-bottom: 2px solid #000;
}

.menu-item.selected-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}

.beach-data img, .recomand-section .profile,  .beach-data h5 {
    position: absolute;
}

.beach-data {
    margin-top: -70px;
    margin-left: 15px;
    margin-right: 15px;
}

.beach-data .row {
    height: 100px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.beach-data .col {
    background-color: white;
    border-radius: 8px;
    align-content: center;
    align-items: center;
    position: relative;
}

.recomand-section h5 {
    display: flex;
    color: rgba(108, 117, 125, 0.80);
    font-size: 14px;
    font-weight: 700;
    top: 10px;
    left: 53px;
    cursor: pointer;
}

.recomand-section .profile {
    top: 2px;
    left: 10px;
}

.recomand-section img {
    cursor: pointer;
    right: 8px;
    top: 8px;
}

.wind img {
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.wind h5, .tide h5, .wetsuit h5, .knee h5 {
    color: black;
    font-size: 12px;
    font-weight: 700;
    top: 10px;
    left: 17px;
}

.wetsuit img {
    left: 10px;
}

#drop-icon {
    top: 42px;
}

#sun-icon {
    bottom: 19px;
}

/* footer */

footer {
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: solid 1px rgba(0, 0, 0, 0.10);
}

footer .container-fluid {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .footer-item a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5px;
}

.home-icon {
    background-image: url('../images/home-icon.png');
}

.notifications-icon {
    background-image: url('../images/notifications-icon.png');
}

.settings-icon {
    background-image: url('../images/settings-icon.png');
}

.footer-item span {
    color: black;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.beach-form{
    margin-top: 10px;
}

.bread-home{
    height: 16px;
}
